<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editPost()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding no-lines>
    <ion-item *ngIf="posts.length == 0" text-center>
      Você ainda não possui posts =(
    </ion-item>
    <ion-card ion-item *ngFor="let post of posts" margin-bottom>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="contact"></ion-icon>
        </ion-avatar>
        <h2>{{post.title}}</h2>
        <p>{{post.author.name}}</p>
      </ion-item>

      <ion-card-content>
        <p>{{post.content}}</p>
      </ion-card-content>
      <ion-item>
        <button ion-button icon-start clear item-start (click)="editPost(post)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <button ion-button color="danger" icon-start clear item-end (click)="delete(post)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
