page-register {
  h1 {
    font-family: "Helvetica", sans-serif;
  }
  .scroll-content {
    background: linear-gradient(to top, rgba(166, 29, 29, 0.85), #ddd);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ion-label{
    color: #777;
  }
}
