<ion-content no-bounce>
  <h1 padding text-center>LawBlog</h1>

  <form novalidate [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label stacked>
          <ion-icon name="mail"></ion-icon>
          E-mail
        </ion-label>
        <ion-input formControlName="Email" type="Email" required></ion-input>
        <div item-content class="error-message"
             *ngIf="formGroup.get('Email').hasError('required') && formGroup.get('Email').touched">
          <small text-start>E-mail é obrigatório</small>
        </div>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          <ion-icon name="lock"></ion-icon>
          Senha
        </ion-label>
        <ion-input formControlName="Password" type="Password" required></ion-input>
        <div item-content class="error-message"
             *ngIf="formGroup.get('Password').hasError('required') && formGroup.get('Password').touched">
          <small text-start>E-mail é obrigatório</small>
        </div>
      </ion-item>
    </ion-list>
  </form>
  <div padding-left padding-right>
    <button ion-button block padding (click)="login()">
      Entrar
    </button>
    <button ion-button block clear (click)="signUp()">
      Criar minha conta
    </button>
  </div>
</ion-content>
